# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Base de Datos / Docker
vct_postgres_data/
.docker/

# IDEs
.vscode/
.idea/

# SO
Thumbs.db
Desktop.ini

# venv
.venv

#init db
init_db/
00-schema.sql
01-views.sql
02-procedures.sql
03-triggers.sql
04-inserts.sql